<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-autowire="byName" default-lazy-init="false">
	<!-- 指定Bean的ID和Bean实例对应的类型 -->
	<bean id="person" class="com.lagou.edu.Person">
		<!-- 指定Bean的属性名称及属性值，此处只是一个基础属性，
		 还可以指定引用类型属性，用来引用另外一个bean -->
		<property name="uuid" value="123"/>
	</bean>
</beans>